.periodic-table {
  display: grid;
  grid-template-columns: repeat(16, 6.1%);
  grid-template-rows: repeat(0, 6%);
  grid-gap: 5px;
  margin: auto;
  max-width: 96%;
  justify-content: center;
}

.cards {
  margin: 1% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
