.overlay {
  background-image: url("../../img/bottles1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  margin: auto;
  height: 70vh;
  margin-top: 20%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.overlay-panel {
  backdrop-filter: blur(3px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: auto;
  text-align: center;
  top: 1;
  left: -1%;
  height: 70vh;
  width: 101%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px rgb(148, 148, 148), 0 0 10px rgb(148, 148, 148),
    0 0 20px rgb(148, 148, 148), 0 0 40px #fff, 0 0 80px #fff, 0 0 90px #fff,
    0 0 100px rgb(255, 255, 255), 0 0 150px #fff;
}

@media only screen and (max-width: 800px) {
  .overlay,
  .overlay-panel {
    height: 50vh;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
  }
  .overlay {
    margin-top: 10%;
  }

  .overlay-panel {
    width: 100%;
    left: 0;
    height: 50vh;
  }
}
