.main-status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mold-status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  padding: 3px;
}

.mold-status-container span,
.mold-status-container svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
